<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Example</title>
</head>
<body>
    <h3>Github API</h3>

    <form method="POST">
        <input type="text" name="username" value="" required>
        {% csrf_token %}
        <input type="submit" name="" value="Get Github Info">
    </form>

    {% if user %}
  
    <P>Username: {{ user.login }}</P>
    <P>URL: {{ user.html_url }}</P>
    <P>Repos: {{ user.public_repos }}</P>

    {% endif %}



</body>
</html>